<div class="container">
  <% @restaurants.each do |restaurant| %>
  <div class="jumbotron">
    <div class="page_content">
      <div class="page-header" id="restaurant_name">
        <%= restaurant.name %>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-4">
            <img src=<%= restaurant.image_url %> class="img-thumbnail" alt="Profile picture of the restaurant" />
          </div>
          <div class="col-md-5">
            <p class="restaurant_info">Ratings:</p> <img src=<%= restaurant.rating_img_url %> alt="Yelp rating stars" />
            <p class="restaurant_info">Reviews: <%= restaurant.review_count %></p>
            <p class="restaurant_info">Distance: <%= restaurant.distance %></p>
            <p class="restaurant_info">Status: <%= restaurant.status %></p>
          </div>
          <div class="col-md-3">
            <p>For more information please continue to: </p><br>
            <a href=<%= restaurant.url %>><button type="button" class="btn btn-outline-secondary"><strong>More Information</strong></button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
